h1{
  text-align: center;
  font-size: 4em;
  color: purple;
}

.canvases{
  position: relative;  
}

canvas{
  width: 30.7%;
  height: 22vw;
  border: 1px solid lightgrey;
  margin: 1%;
  background-color: #f5f5ff;
}

.names{
  position: absolute;
  font-size: 3.5vw;
  color: blue;
  font-style: italic;
  text-align: center;
}

#p1{
  left: 10%;
  top: 22%;
}

#p2{
  left: 43%;
  top: 22%;
}

#p3{
  left: 76%;
  top: 22%; 
}

#imgchoose{
  font-size: 1.2vw;
  margin-left: 7%;
}

.b1{
  font-style: italic; 
  font-size: 2vw;
  color: lightyellow;
  border: 5px solid;
  border-color: lightblue;
  padding: 1%;
  background-color: green;
}

#encr{
  margin-left: 14%;
  margin-bottom: 3%; 
}

#decr{
  margin-left: 23%; 
}

#download_btn{
  position: relative;
  left: 44%;
  background-color: red;
}